<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <% messages.map((message) => { %>
      <h2><%= message.user %></h2>
      <h3><%= message.text %></h3>
      <h4><%= message.added %></h4>
    <% }) %>
  </body>
</html>
